.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 19px;
  color: #000;
  line-height: normal;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s linear, visibility 0.4s linear;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  width: 430px;
  box-sizing: border-box;
}

.modal__image-container {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal__image {
  margin: auto;
  max-width: 75vw;
  max-height: 75vh;
}

.modal__card-title {
  max-width: 291px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  margin: 0;
  padding-top: 10px;
}

.modal__heading {
  font-size: 24px;
  font-weight: 900;
  padding-bottom: 25px;
  margin: auto;
}

.modal__field-error {
  margin: 0;
  display: block;
  font-size: 12px;
  font-weight: 400;
}

.modal__field-error {
  color: #f00;
}

.modal__button-design-gap {
  height: 48px;
}

.modal__field {
  padding-top: 29px;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 13px;
  border: none;
  border-color: transparent;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

.modal__field_error {
  border-bottom-color: #f00;
}

.modal__form {
  flex-direction: column;
  display: flex;
  width: 100%;
}

.modal__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
}

.modal__button {
  width: 358px;
  height: 50.152px;
  border-radius: 2px;
  background: #000;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  align-self: center;
}

.modal__button:hover {
  transition: 0.2s linear;
  opacity: 0.8;
}

.modal__button_disabled {
  border: 1px solid #000;
  opacity: 0.2;
  background: inherit;
  color: #000;
}

@media screen and (max-width: 730px) {
  .modal__close {
    left: auto;
    right: 0;
  }

  .modal__image-close {
    width: 30px;
    height: 30px;
    bottom: calc(100% + 5px);
    left: calc(100% + 5px);
  }
}

@media screen and (max-width: 320px) {
  .modal__container {
    padding: 25px;
    width: 282px;
  }

  .modal__heading {
    font-size: 18px;
    font-weight: 900;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 13.52px);
  }

  .modal__button {
    width: 238px;
    height: 46px;
  }

  .modal__image-close {
    width: 30px;
    height: 30px;
    bottom: calc(100% + 5px);
    left: calc(100% + 5px);
  }
}
